<div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">CAR RENTAL</p>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a  routerLink="/" >HOME</a></li>
        <li id="rentals"><a routerLink="/rentals" >RENTALS</a></li>
        <li id="clients"><a routerLink="/clients" >CLIENTS</a></li>
        <li id="cars"><a routerLink="/cars" >CARS</a></li>
        <li id="Logout"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
      </ul>
  </div>
