

<app-header></app-header>
<div class="container">
    <form class="form-horizontal" [formGroup]='editForm' (ngSubmit)="onSubmit()" >

      <input type="hidden" id="endDate" formControlName="endDate"  >
        <h2>NEW RENTAL</h2>

        <div class="form-group">
          <label for="address" class="col-sm-3 control-label">Contract Number</label>
          <div class="col-sm-9">
              <input type="text" name="contractNumber" formControlName="contractNumber" id="contractNumber" placeholder="contractNumber" class="form-control" autofocus ngModel required >
          </div>
          <span class="help-block " *ngIf="!editForm.get('contractNumber').valid && editForm.get('contractNumber').touched " >enter a valid contract number</span>
      </div>
      <div class="form-group">
        <label for="Name" class="col-sm-3 control-label">Client Name</label>
        <mat-form-field class="example-full-width">
          <input
          formControlName="clientName"
          name="clientName"
           id="clientName"
             type="text"
                 placeholder="client Name"
                 aria-label="Number"
                 matInput
                 [formControl]="clientName"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

    </div>
      <div class="form-group">
        <label for="carId" class="col-sm-3 control-label">Car ID</label>
        <mat-form-field>
          <mat-label>Car ID</mat-label>
          <mat-select [formControl]="carId"
          formControlName="carId"
          name="carId"
           id="carId"

          required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let car of cars" [value]="car">
              {{car.carId}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clientName.hasError('required')">Please choose a Client</mat-error>
          <mat-hint>{{clientName.value?.sound}}</mat-hint>
        </mat-form-field>

    </div>

        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Contract Duration</label>
            <div class="col-sm-9">

            <mat-form-field>

              <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="startDate" id="startDate" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </div>

        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="text" name="email" formControlName="email" id="email" placeholder="Email" class="form-control" ngModel name="email" required email>

            </div>
            <span class="help-block " *ngIf="!editForm.get('email').valid && editForm.get('email').touched" >enter a valid email</span>
        </div>

         <!-- /.form-group -->

        <button type="submit" class="btn btn-primary btn-block" name="button" [disabled]="editForm.invalid" >ADD Rental</button>
    </form> <!-- /form -->
  </div> <!-- ./container -->

  <app-footer></app-footer>
